<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    @if (Context.Session.GetString("UserName") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        </li>
        @if (Context.Session.GetString("Role") == "Admin")
        {
            <li class="nav-item">
                <a class="nav-link text-success" asp-controller="Movies" asp-action="Create">+ Add Movie</a>
            </li>
        }
    }
</ul>