html {
    font-size: 14px;
    height: 100%; /* Required for flexbox */
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Flexbox layout to push footer to the absolute bottom */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Takes full height of the viewport */
    margin: 0;
}

/* This container stretches to fill space, pushing the footer down */
.content-container {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    border-top: 1px solid #dee2e6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
